In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# import data
df = pd.read_csv('/Users/AhmedHatahet/Documents/Projects/grumbletext _sms_spam.csv')

In [3]:
df

      type                                               text
0      ham  Hope you are having a good week. Just checking in
1      ham                            K..give back my thanks.
2      ham        Am also doing in cbe only. But have to pay.
3     spam  complimentary 4 STAR Ibiza Holiday or £10,000 ...
4     spam  okmail: Dear Dave this is your final notice to...
...    ...                                                ...
5554   ham  You are a great role model. You are giving so ...
5555   ham  Awesome, I remember the last time we got someb...
5556  spam  If you don't, your prize will go to another cu...
5557  spam  SMS. ac JSco: Energy is high, but u may not kn...
5558   ham                    Shall call now dear having food

[5559 rows x 2 columns]

In [5]:
df = df[['text','type']]

In [6]:
df = df.rename(columns={'text': 'message','type':'label'})

In [7]:
df

                                                message label
0     Hope you are having a good week. Just checking in   ham
1                               K..give back my thanks.   ham
2           Am also doing in cbe only. But have to pay.   ham
3     complimentary 4 STAR Ibiza Holiday or £10,000 ...  spam
4     okmail: Dear Dave this is your final notice to...  spam
...                                                 ...   ...
5554  You are a great role model. You are giving so ...   ham
5555  Awesome, I remember the last time we got someb...   ham
5556  If you don't, your prize will go to another cu...  spam
5557  SMS. ac JSco: Energy is high, but u may not kn...  spam
5558                    Shall call now dear having food   ham

[5559 rows x 2 columns]

In [8]:
# check for duplicates

df[df.duplicated()]

                                                message label
81    URGENT! Your Mobile number has been awarded wi...  spam
223      No no. I will check all rooms befor activities   ham
361                                         Ok thanx...   ham
377                              Sorry, I'll call later   ham
407                              Are you this much buzy   ham
...                                                 ...   ...
5534  She said,'' do u mind if I go into the bedroom...   ham
5535                                              Ok...   ham
5537           Good night my dear.. Sleepwell&Take care   ham
5538  HOT LIVE FANTASIES call now 08707509020 Just 2...  spam
5547              Ya very nice. . .be ready on thursday   ham

[403 rows x 2 columns]

In [9]:
# remove duplicates

df.drop_duplicates(keep='first',inplace = True)

In [10]:
len(df[df.duplicated()])

0

In [11]:
# check for rows with missing values

print(df[df.isnull().any(axis=1)])

Empty DataFrame
Columns: [message, label]
Index: []

In [12]:
# EDA

df['label'].value_counts()

ham     4503
spam     653
Name: label, dtype: int64