In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [34]:
# import data
df = pd.read_csv('/Users/AhmedHatahet/Documents/Projects/lingspam.csv')

In [35]:
df

,subject,message,label
0,job posting - apple-iss research center,content - length : 3386 apple-iss research cen...,0
1,NaN,"lang classification grimes , joseph e . and ba...",0
2,query : letter frequencies for text identifica...,i am posting this inquiry for sergei atamas ( ...,0
3,risk,a colleague and i are researching the differin...,0
4,request book information,earlier this morning i was on the phone with a...,0
...,...,...,...
2888,love your profile - ysuolvpv,hello thanks for stopping by ! ! we have taken...,1
2889,you have been asked to join kiddin,"the list owner of : "" kiddin "" has invited you...",1
2890,anglicization of composers ' names,"judging from the return post , i must have sou...",0
2891,"re : 6 . 797 , comparative method : n - ary co...",gotcha ! there are two separate fallacies in t...,0
2892,re : american - english in australia,hello ! i ' m working on a thesis concerning a...,0

In [36]:
df = df[['message', 'label', 'subject']]

In [37]:
df

,message,label,subject
0,content - length : 3386 apple-iss research cen...,0,job posting - apple-iss research center
1,"lang classification grimes , joseph e . and ba...",0,NaN
2,i am posting this inquiry for sergei atamas ( ...,0,query : letter frequencies for text identifica...
3,a colleague and i are researching the differin...,0,risk
4,earlier this morning i was on the phone with a...,0,request book information
...,...,...,...
2888,hello thanks for stopping by ! ! we have taken...,1,love your profile - ysuolvpv
2889,"the list owner of : "" kiddin "" has invited you...",1,you have been asked to join kiddin
2890,"judging from the return post , i must have sou...",0,anglicization of composers ' names
2891,gotcha ! there are two separate fallacies in t...,0,"re : 6 . 797 , comparative method : n - ary co..."
2892,hello ! i ' m working on a thesis concerning a...,0,re : american - english in australia

In [38]:
# check for duplicates

df[df.duplicated()]

,message,label,subject
496,it was just released ! ! introducing . . . mil...,1,just released ! 10 million ! ! !
1166,ld ' 98 the first international workshop on la...,0,ld ' 98 - call for participation
1353,this is not spam ; you are receiving this mess...,1,submit 600
1438,fourth conference on afro-asiatic languages ce...,0,afro - asiatic languages
1617,international driver ' s license need a new dr...,1,.
1618,university degree programs - - - - increase yo...,1,hello
1735,just released ! ! ! introducing . . . the cd v...,1,just released vol . 2
1810,i ' m looking for people that have an interest...,1,business offer
2013,dear friend : this is an extremely important a...,1,"hi , how are you !"
2052,it was just released ! ! introducing . . . mil...,1,just released ! 10 million ! ! !
2214,"names , the journal of the american name socie...",0,special issues
2375,lsrl 29 second call for papers the xxix lingui...,0,romance languages
2559,= 20 the virtual girlfriend and virtual boyfri...,1,re :
2575,= 20 the virtual girlfriend and virtual boyfri...,1,re :
2598,= 20 the virtual girlfriend and virtual boyfri...,1,re :
2670,this is not spam ; you are receiving this mess...,1,submit 600 is definitely for you
2688,this is not spam ; you are receiving this mess...,1,submit 600

In [39]:
len(df[df.duplicated()])

17

In [40]:
# remove duplicates

In [41]:
df.drop_duplicates(keep='first',inplace = True)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [42]:
df[df.duplicated()]

Empty DataFrame
Columns: [message, label, subject]
Index: []

In [44]:
# check for rows with missing values

print(df[df.isnull().any(axis=1)])

                                                message  label subject
1     lang classification grimes , joseph e . and ba...      0     NaN
13    syntax the antisymmetry of syntax richard s . ...      0     NaN
69    computational ling bengt sigurd ( ed ) compute...      0     NaN
107   phonology & phonetics burquest , donald a . an...      0     NaN
258   phonology & phonetics leiden in last : hil pho...      0     NaN
...                                                 ...    ...     ...
2296  the latest issue ( 1994 n01 ) of etudes de let...      0     NaN
2309  b a r g a i n a i r f a r e s your 1 - stop tr...      1     NaN
2555  data to : = 20 date : fri , 06 feb 1998 22 : 3...      1     NaN
2562  epac . pt , e . carnoali @ genie . com , e . c...      1     NaN
2811  simply send a message to : listserv @ tamvm1 ....      0     NaN

[62 rows x 3 columns]

In [49]:
#check for missing values in columns other than 'subject'

print(df[df[['message','label']].isnull().any(axis=1)])

Empty DataFrame
Columns: [message, label, subject]
Index: []

In [54]:
# EDA

In [53]:
df['label'].value_counts()

0    2408
1     468
Name: label, dtype: int64